*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  color: #1B2534;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: flex;
}

.btn {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.btn a {
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
}

.d-flex {
  display: flex;
}

.AI-center {
  align-items: center;
}

.JC-center {
  justify-content: center;
}

.header {
  padding-top: 40px;
  background-image: url("/assets/icons/header-background.png");
  background-size: cover;
  width: 100%;
  height: 1086px;
}
.header__navigation {
  justify-content: space-between;
  margin-bottom: 100px;
}
.header__navigation-menu ul {
  gap: 60px;
}
.header__navigation-menu ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #1B2534;
  text-decoration: none;
}
.header__navigation-menu ul li .active {
  color: #0082F3;
}
.header__navigation-menu ul li a:hover {
  color: #0082F3;
}
.header__navigation-btn {
  width: 220px;
}
.header__navigation-btn a {
  text-align: center;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #1B2534;
  border-radius: 15px;
  padding: 15px 0;
  width: 100%;
}
.header__navigation-btn a:hover {
  color: #1B2534;
  background-color: #FFFFFF;
}
.header__title {
  flex-direction: column;
}
.header__title h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 104px;
  text-align: center;
  text-transform: capitalize;
  color: #1B2534;
  margin-bottom: 40px;
}
.header__title h1 span {
  color: #29A0F5;
}
.header__title-btn {
  width: 220px;
}
.header__title-btn a {
  text-align: center;
  color: #1B2534;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 15px 0;
  width: 100%;
}
.header__title-btn a i {
  font-size: 26px;
  color: #29A0F5;
}
.header__title-btn a:hover {
  color: #FFFFFF;
  background-color: #1B2534;
}

@media (max-width: 1470px) {
  .header .container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .header .container {
    max-width: 992px;
  }
  .header__navigation {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
  }
  .header__navigation-menu ul {
    gap: 30px;
  }
}
@media (max-width: 922px) {
  .header .container {
    max-width: 768px;
  }
  .header__title h1 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .header .container {
    max-width: 576px;
  }
  .header__navigation {
    margin-bottom: 40px;
  }
  .header__navigation-menu ul {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .header__navigation-btn, .header__title-btn {
    width: 100%;
  }
}

.banner img {
  width: 100%;
  margin-top: -33%;
}

.service {
  margin: 160px 0;
}
.service .row {
  justify-content: space-between;
}
.service__content-text h2 {
  max-width: 600px;
  font-weight: 700;
  font-size: 65px;
  line-height: 78px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.service__content-text h2 span {
  color: #29A0F5;
}
.service__content-text p {
  max-width: 617px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 35px;
}
.service__content-wrapper {
  gap: 25px;
  flex-direction: column;
}
.service__content-wrapper-item img {
  Width: 36.58px;
  Height: 38.68px;
  margin: 25px;
}
.service__content-wrapper-item-img-diamond {
  background: #FED8FF;
  border-radius: 20px;
  margin-right: 20px;
}
.service__content-wrapper-item-img-lock {
  background: #C4F5C9;
  border-radius: 20px;
  margin-right: 20px;
}
.service__content-wrapper-item-text h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
}
.service__content-wrapper-item-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

@media (max-width: 1470px) {
  .service .container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .service .container {
    max-width: 992px;
  }
  .service .row {
    flex-direction: column;
    align-items: center;
  }
  .service__content {
    margin-bottom: 30px;
  }
}
@media (max-width: 922px) {
  .service .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .service .container {
    max-width: 576px;
  }
  .service__content h2 {
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .service__content-wrapper-item {
    flex-direction: column;
    text-align: center;
  }
}

.leads {
  background-color: #F6F6F6;
  padding: 160px 0 200px 0;
}
.leads .row {
  justify-content: space-between;
}
.leads__wrapper1 {
  padding-bottom: 40px;
}
.leads .wrapper__content {
  width: 50%;
}
.leads .wrapper__content-title {
  margin-bottom: 30px;
}
.leads .wrapper__content-title h2 {
  max-width: 620px;
  font-weight: 700;
  font-size: 65px;
  line-height: 78px;
  text-transform: capitalize;
}
.leads .wrapper__content-title h2 span {
  color: #29A0F5;
}
.leads .wrapper__content-text p {
  max-width: 645px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
}
.leads .leads__wrapper2 {
  padding-bottom: 40px;
}
.leads .leads__wrapper2 .leads__wrapper-tools {
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  max-width: 350px;
  padding: 40px;
}
.leads .leads__wrapper2 .leads__wrapper-tools .wrapper__tools-title h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 46px;
  padding-bottom: 30px;
}
.leads .leads__wrapper2 .leads__wrapper-tools .wrapper__tools-cubes {
  display: flex;
  justify-content: space-between;
}
.leads .leads__wrapper2 .leads__wrapper-support {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 40px 30px 0 40px;
}
.leads .leads__wrapper2 .leads__wrapper-support .wrapper__support-title h3 {
  max-width: 199px;
  font-weight: 700;
  font-size: 35px;
  line-height: 46px;
}
.leads .leads__wrapper2 .leads__wrapper-schedule {
  background: #FFFFFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 20px 63px;
}
.leads .leads__wrapper3 {
  display: flex;
  justify-content: space-between;
}
.leads .leads__wrapper3 .wrapper__analyst {
  display: flex;
  justify-content: space-between;
  max-width: 843px;
  background: #161D2D;
  border-radius: 33px;
}
.leads .leads__wrapper3 .wrapper__analyst .wrapper__analyst-content {
  margin: 40px 50px 40px 0;
}
.leads .leads__wrapper3 .wrapper__analyst .wrapper__analyst-content .wrapper__analyst-title {
  margin-bottom: 40px;
}
.leads .leads__wrapper3 .wrapper__analyst .wrapper__analyst-content .wrapper__analyst-title h3 {
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  text-align: right;
  text-transform: capitalize;
  color: #FFFFFF;
}
.leads .leads__wrapper3 .wrapper__analyst .wrapper__analyst-content .wrapper__analyst-btn a {
  text-align: right;
  color: #FFFFFF;
  background: #29A0F5;
  border: 1px solid #29A0F5;
  width: 102%;
  height: 70px;
  padding: 20px;
}
.leads .leads__wrapper3 .wrapper__analyst .wrapper__analyst-content .wrapper__analyst-btn a i {
  font-size: 26px;
  color: #FFFFFF;
}
.leads .leads__wrapper3 .wrapper__analyst .wrapper__analyst-content .wrapper__analyst-btn a:hover {
  color: #29A0F5;
  background: #FFFFFF;
}
.leads .leads__wrapper3 .wrapper__analyst .wrapper__analyst-content .wrapper__analyst-btn a:hover i {
  color: #29A0F5;
}
.leads .leads__wrapper3 .wrapper__gallery {
  max-width: 493px;
  background: #FFFFFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}
.leads .leads__wrapper3 .wrapper__gallery .wrapper__gallery-title {
  padding: 40px;
}
.leads .leads__wrapper3 .wrapper__gallery .wrapper__gallery-title h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 46px;
}
.leads .leads__wrapper3 .wrapper__gallery .wrapper__gallery-img {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

@media (max-width: 1470px) {
  .leads .container {
    max-width: 1200px;
  }
  .leads .leads__wrapper3 {
    flex-direction: column;
  }
  .leads .leads__wrapper3 .wrapper__analyst {
    width: 100%;
    max-width: none;
    flex-direction: column;
    margin-bottom: 35px;
  }
  .leads .leads__wrapper3 .wrapper__analyst .wrapper__analyst-content .wrapper__analyst-title h3 {
    text-align: center;
  }
  .leads .leads__wrapper3 .wrapper__analyst .wrapper__analyst-content .wrapper__analyst-btn a {
    text-align: center;
  }
  .leads .leads__wrapper3 .wrapper__gallery {
    max-width: none;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .leads .container {
    max-width: 992px;
  }
  .leads .leads__wrapper1 {
    flex-direction: column;
  }
  .leads .leads__wrapper1 .wrapper__content {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }
  .leads .leads__wrapper1 .wrapper__content h2, .leads .leads__wrapper1 .wrapper__content p {
    max-width: none;
    width: 100%;
  }
  .leads .leads__wrapper1 .wrapper__img img {
    width: 100%;
  }
  .leads .leads__wrapper2 {
    flex-direction: column;
  }
  .leads .leads__wrapper2 .leads__wrapper-tools,
.leads .leads__wrapper2 .leads__wrapper-support,
.leads .leads__wrapper2 .leads__wrapper-schedule {
    max-width: none;
    width: 100%;
  }
}
@media (max-width: 922px) {
  .leads .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .leads .container {
    max-width: 576px;
  }
}

.soft {
  margin: 135px 0 193px 0;
}
.soft__title {
  width: 99%;
  margin-bottom: 70px;
}
.soft__title h2 {
  font-weight: 700;
  font-size: 65px;
  line-height: 78px;
  text-align: center;
  text-transform: capitalize;
}
.soft__title h2 span {
  color: #29A0F5;
}
.soft__wrapper {
  gap: 30px;
  justify-content: space-evenly;
}
.soft__wrapper-content {
  width: 30%;
}
.soft__wrapper-content-item-active {
  background: #1B2534;
  border-radius: 20px;
  padding: 50px 40px;
}
.soft__wrapper-content-item-active h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  color: #FFFFFF;
}
.soft__wrapper-content-item-active p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.soft__wrapper-content-item {
  margin: 30px 0 40px 0;
}
.soft__wrapper-content-item h4 {
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  color: #ABABAB;
}
.soft__wrapper-content-item p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ABABAB;
}
.soft__wrapper-content-item:last-child {
  margin: 0;
}
.soft__wrapper-img {
  margin-top: 42px;
}
.soft__wrapper-img img {
  width: 100%;
}

@media (max-width: 1470px) {
  .soft .container {
    max-width: 1200px;
  }
  .soft__wrapper {
    flex-direction: column;
  }
  .soft__wrapper-content {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .soft .container {
    max-width: 992px;
  }
}
@media (max-width: 922px) {
  .soft .container {
    max-width: 768px;
  }
  .soft__title h2 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .soft .container {
    max-width: 576px;
  }
}

.feedback {
  background: #1B2534;
  background-size: 100% auto;
  padding: 100px 0;
}
.feedback .row {
  justify-content: space-between;
}
.feedback__content {
  width: 50%;
}
.feedback__content-title {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  gap: 30px;
}
.feedback__content-title h2 {
  font-weight: 700;
  font-size: 65px;
  line-height: 91px;
  color: #FFFFFF;
}
.feedback__content-title img {
  Width: 42.73px;
  Height: 39.52px;
}
.feedback__content-text {
  margin-bottom: 90px;
}
.feedback__content-text p {
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  color: #ABABAB;
}
.feedback__content-text p span {
  color: #FFFFFF;
}
.feedback__content-grade h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 49px;
  color: #FFFFFF;
}
.feedback__content-grade p {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #ABABAB;
  margin-bottom: 10px;
}
.feedback__photo-img img {
  width: 100%;
}

@media (max-width: 1470px) {
  .feedback .container {
    max-width: 1200px;
  }
  .feedback h2 {
    font-size: 42px;
  }
}
@media (max-width: 1200px) {
  .feedback .container {
    max-width: 992px;
  }
  .feedback .row {
    flex-direction: column;
  }
  .feedback__content, .feedback__photo-img {
    width: 100%;
  }
  .feedback__content-title {
    justify-content: center;
  }
  .feedback__content-grade {
    margin-bottom: 30px;
  }
}
@media (max-width: 922px) {
  .feedback .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .feedback .container {
    max-width: 576px;
  }
}
.brands__wrapper {
  margin: 160px 0 180px 0;
}
.brands__wrapper-title {
  margin-bottom: 85px;
}
.brands__wrapper-title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  text-transform: capitalize;
}
.brands__wrapper-content ul {
  justify-content: space-around;
}

@media (max-width: 1470px) {
  .brands .container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .brands .container {
    max-width: 992px;
  }
  .brands__wrapper-content ul {
    flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 922px) {
  .brands .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .brands .container {
    max-width: 576px;
  }
}
.advertising {
  margin: 180px 0 170px 0;
}
.advertising .row {
  gap: 30px;
  margin-bottom: 85px;
}
.advertising__wrapper {
  width: 33.3333333333%;
}
.advertising__wrapper-img {
  margin-bottom: 30px;
}
.advertising__wrapper-title {
  width: 86%;
  margin-bottom: 25px;
}
.advertising__wrapper-title h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  text-transform: capitalize;
}
.advertising__wrapper-text {
  width: 86%;
  margin-bottom: 40px;
}
.advertising__wrapper-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.advertising__wrapper .advertising__wrapper-people .people-photo-name img {
  float: left;
  margin-right: 30px;
}
.advertising__wrapper .advertising__wrapper-people .people-photo-name .clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.advertising__wrapper .advertising__wrapper-people .people-photo-name h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.advertising__wrapper .advertising__wrapper-people .people-text {
  display: flex;
}
.advertising__wrapper .advertising__wrapper-people .people-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}
.advertising__wrapper .advertising__wrapper-people .people-text p span:before {
  content: " ";
  background: #29A0F5;
  border-radius: 5px;
  height: 5px;
  width: 5px;
  margin: 5px 10px;
  display: inline-block;
}
.advertising .wrapper__advertising-btn {
  max-width: 220px;
  margin: 0 auto;
}
.advertising .wrapper__advertising-btn a {
  text-align: center;
  color: #FFFFFF;
  background: #29A0F5;
  border: 1px solid #29A0F5;
  width: 100%;
  height: 70px;
  padding: 20px 0;
}
.advertising .wrapper__advertising-btn a i {
  font-size: 26px;
  color: #FFFFFF;
}
.advertising .wrapper__advertising-btn a:hover {
  color: #29A0F5;
  background: #FFFFFF;
}

@media (max-width: 1470px) {
  .advertising .container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .advertising .container {
    max-width: 992px;
  }
}
@media (max-width: 922px) {
  .advertising .container {
    max-width: 768px;
  }
  .advertising .row {
    flex-direction: column;
  }
  .advertising__wrapper {
    width: 100%;
  }
  .advertising__wrapper-title {
    width: 100%;
  }
  .advertising__wrapper-title h3 {
    font-size: 30px;
  }
  .advertising__wrapper-text {
    width: 100%;
  }
  .advertising__wrapper-img img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .advertising .container {
    max-width: 576px;
  }
  .advertising .wrapper__advertising-btn {
    max-width: none;
    width: 100%;
  }
}
.potential {
  padding-top: 138px;
  background: linear-gradient(294.27deg, #30A8FF 0%, #C4F5C9 100%);
}
.potential__wrapper {
  justify-content: space-between;
  padding-bottom: 85px;
}
.potential__wrapper-title {
  width: 45%;
}
.potential__wrapper-title h2 {
  font-weight: 700;
  font-size: 65px;
  line-height: 84px;
  text-transform: capitalize;
}
.potential__wrapper-btn {
  width: 220px;
  margin-top: 86px;
}
.potential__wrapper-btn a {
  text-align: center;
  color: #FFFFFF;
  background: #1B2534;
  border: 1px solid #1B2534;
  width: 100%;
  height: 70px;
  padding: 20px 0;
}
.potential__wrapper-btn a i {
  font-size: 26px;
  color: #FFFFFF;
}
.potential__wrapper-btn a:hover {
  color: #1B2534;
  background: #FFFFFF;
}

@media (max-width: 1470px) {
  .potential .container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .potential .container {
    max-width: 992px;
  }
  .potential .row {
    flex-direction: column;
    align-items: center;
  }
  .potential__wrapper-title {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 922px) {
  .potential .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .potential .container {
    max-width: 576px;
  }
  .potential__wrapper-btn {
    width: 100%;
  }
  .potential__img {
    display: none;
  }
}
.footer {
  background: #1B2534;
  padding: 155px 0 70px 0;
}
.footer__wrapper {
  padding-bottom: 10px;
  justify-content: space-between;
  border-bottom: 1px white solid;
}
.footer__wrapper-logo {
  width: 20%;
}
.footer__wrapper-logo .footer-logo {
  margin-bottom: 25px;
}
.footer__wrapper-logo .footer-text {
  margin-bottom: 110px;
}
.footer__wrapper-logo .footer-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #ABABAB;
}
.footer__wrapper-logo .footer-social ul {
  display: flex;
  gap: 30px;
}
.footer__wrapper-vid {
  width: 30%;
}
.footer__wrapper-vid iframe {
  height: 327px;
  width: 100%;
  border-radius: 20px;
}
.footer__wrapper .footer-list {
  display: flex;
  gap: 110px;
  background: #283343;
  border-radius: 30px;
  padding: 40px 70px;
}
.footer__wrapper .footer-list li {
  padding-bottom: 20px;
}
.footer__wrapper .footer-list li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.36px;
  color: #ABABAB;
  text-decoration: none;
}
.footer__wrapper .footer-list li .list-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.footer__wrapper .footer-list li:last-child {
  padding-bottom: 0;
}
.footer__wrapper-developers {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.footer__wrapper-developers-item ul {
  display: flex;
  gap: 25px;
}
.footer__wrapper-developers-item ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #ABABAB;
  text-decoration: none;
}
.footer__wrapper-developers-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #ABABAB;
}
.footer__wrapper-developers-item p span {
  color: #29A0F5;
}

@media (max-width: 1470px) {
  .footer .container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .footer .container {
    max-width: 992px;
  }
  .footer .row {
    flex-direction: column;
    justify-content: center;
  }
  .footer__wrapper-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__wrapper-logo .footer-text {
    margin-bottom: 30px;
    text-align: center;
  }
  .footer__wrapper-logo .footer-social {
    margin-bottom: 40px;
  }
  .footer__wrapper-list {
    margin-bottom: 40px;
  }
  .footer__wrapper-list .footer-list {
    justify-content: center;
  }
  .footer__wrapper-vid {
    width: 100%;
  }
}
@media (max-width: 922px) {
  .footer .container {
    max-width: 768px;
  }
  .footer__wrapper-developers {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .footer .container {
    max-width: 576px;
  }
  .footer__wrapper-list .footer-list {
    justify-content: center;
    gap: 10px;
  }
  .footer__wrapper-developers-item ul {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
