.potential{
  padding-top: 138px;
  background: linear-gradient(294.27deg, #30A8FF 0%, #C4F5C9 100%);

  &__wrapper{
	justify-content: space-between;
	padding-bottom: 85px;
	&-title{
	  width: 45%;
	  h2{
		font-weight: 700;
		font-size: 65px;
		line-height: 84px;
		text-transform: capitalize;
	  }
	}
	&-btn{
	 width: 220px;
	  margin-top: 86px;
	  a{
		text-align: center;
		color: #FFFFFF;
		background: #1B2534;
		border: 1px solid #1B2534;
		width: 100%;
		height: 70px;
		padding: 20px 0;
		i{
		  font-size: 26px;
		  color: #FFFFFF;
		}
	  }
	  a:hover{
		color: #1B2534;
		background: #FFFFFF;
	  }
	}
  }
}