.brands{
  &__wrapper{
	margin: 160px 0 180px 0;

	&-title{
	  margin-bottom: 85px;

	  h2{
		font-weight: 700;
		font-size: 30px;
		line-height: 42px;
		text-align: center;
		text-transform: capitalize;
	  }
	}
	&-content{
	  ul{
		justify-content: space-around;
	  }
	}
  }
}