body{
  font-family: 'Open Sans', sans-serif;
  color: #1B2534;
}
.btn{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4px;
  a{
	border-radius: 20px;
	text-decoration: none;
	display: inline-block;
  }
  .btn-img{
	display: inline-block;
	height: 15px;
  }
}
.container{
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.row{
  display: flex;
}



header {
  .header__position{
	gap: 225px;
	position: absolute;
	top: 13%;
  }
  .header--background img {
	display: inline-block;
	width: 100%;
	position: revert;
	top: 0;
  }

  ul {
	display: flex;
	gap: 60px;

	li {
	  a {
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 20px;
		color: #1B2534;
		text-decoration: none;
	  }
	  .active {
		color: #0082F3;
	  }
	  a:hover{
		color: #0082F3;
	  }
	}
  }
  .header--btn-nav{
	a {
	  line-height: 25px;
	  color: #FFFFFF;
	  background-color: #1B2534;
	  border-radius: 15px;
	  padding: 15px;
	}
	a:hover{
	  color: #1B2534;
	  background-color: #FFFFFF;
	}
  }
  .header__title{
	position: absolute;
	top: 40%;
	left: 10%;
	p{
	  font-weight: 700;
	  font-size: 80px;
	  line-height: 104px;
	  text-align: center;
	  text-transform: capitalize;
	  color: #1B2534;
	  span{
		color: #29A0F5;
	  }
	}
	.header--btn-title {
	  position: absolute;
	  left: 40%;
	  top: 125%;
	  a{
		text-align: center;
		color: #1B2534;
		background: #FFFFFF;
		border: 1px solid #FFFFFF;
		padding: 15px;
	  }
	  a:hover{
		color: #FFFFFF;
		background-color: #1B2534;
	  }
	}
  }
}
