.header {
  padding-top: 40px;
  background-image: url("/assets/icons/header-background.png");
  background-size: cover;
  width: 100%;
  height: 1086px;

  &__navigation{
	justify-content: space-between;
	margin-bottom: 100px;

	&-menu{
	  ul{
		gap: 60px;
		li {
		  	a {
		  	  font-style: normal;
		  	  font-weight: 400;
		  	  font-size: $font-sm;
		  	  line-height: 20px;
		  	  color: $bg-color;
		  	  text-decoration: none;
		  	}
		  	.active {
		  	  color: $active-color;
		  	}
		  	a:hover{
		  	  color: $active-color;
		  	}
		}
	  }
	}
	&-btn{
	  width: 220px;
	  a {
		text-align: center;
		line-height: 25px;
		color: #FFFFFF;
		background-color: $bg-color;
		border-radius: 15px;
		padding: 15px 0;
		width: 100%;
	  }
	  a:hover{
		color: $bg-color;
		background-color: #FFFFFF;
	  }
	}
  }

  &__title{
	flex-direction: column;

	h1{
	  font-weight: 700;
	  font-size: $font-xxxl;
	  line-height: 104px;
	  text-align: center;
	  text-transform: capitalize;
	  color: $bg-color;
	  margin-bottom: 40px;
	  span{
		color: $accent-color;
	  }
	}

	&-btn{
	  width: 220px;
	  a{
		text-align: center;
		color: $bg-color;
		background: #FFFFFF;
		border: 1px solid #FFFFFF;
		padding: 15px 0;
		width: 100%;
		i{
		  font-size: 26px;
		  color: $accent-color;
		}
	  }
	  a:hover{
		color: #FFFFFF;
		background-color: $bg-color;
	  }
	}
  }
}






