body{

  font-family: 'Open Sans', sans-serif;
  color: #1B2534;
}

.container{
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.row{
  display: flex;
}

.btn{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4px;
  a{
	border-radius: 20px;
	text-decoration: none;
	display: inline-block;
  }
}

.d-flex{
  display: flex;
}
.AI-center{
  align-items: center;
}
.JC-center{
  justify-content: center;
}
