.feedback{
  background: #1B2534;
  background-size: 100% auto;
  padding: 100px 0;

  .row{
	justify-content: space-between;
  }
  &__content{
	width: 50%;

	&-title{
	  display: flex;
	  margin-bottom: 40px;
	  align-items: center;
	  gap: 30px;

	  h2{
		font-weight: 700;
		font-size: 65px;
		line-height: 91px;
		color: #FFFFFF;
	  }
	  img{
		Width: 42.73px;
		Height: 39.52px;
	  }
	}
	&-text{
	  margin-bottom: 90px;

	  p{
		font-weight: 400;
		font-size: 35px;
		line-height: 46px;
		color: #ABABAB;
		span{
		  color: #FFFFFF;
		}
	  }
	}
	&-grade{

	  h3{
		font-weight: 700;
		font-size: 35px;
		line-height: 49px;
		color: #FFFFFF;
	  }
	  p{
		font-weight: 400;
		font-size: 18px;
		line-height: 29px;
		color: #ABABAB;
		margin-bottom: 10px;
	  }
	}
  }
  &__photo-img{
  img{
	width: 100%;
  }
  }
}